@import '../../styles/variable.scss';

nav.main {
    display: flex;
    justify-content: center;
    background-color: $primary-color;

    a {
        display: block;
        padding: 0.5rem 0.75rem;
        font-size: 0.9rem;
        color: #fff;
        text-decoration: none;

        &:hover {
            background-color:white;
            color:$primary-color;
        }

        @include breakpoint-small{
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
        }
    }
}