@import './../../styles/variable.scss';

div.post-list {
    background-color: $background-color;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-small{
        padding-right: 0;
    }
    .total-rate{
        width: 100%;
        color: $secondry-color;
        font-size: 1.2rem;
        text-align: center;
    }
}