@import './../../styles/variable.scss';

main.post-list {
    background-color: $background-color;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-small{
        padding-right: 0;
    }
}