@import '../../../styles/variable.scss';

main.page {
    .post-item-page {
        .picture{
            margin-bottom: 2rem;
            img{
                max-width: 100%;
            }
        }

        .description{
            margin-bottom: 2rem;
            color:$secondry-color;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .back-link{
            color: $secondry-color;
            text-decoration: none;
            line-height: 2rem;

            &::before{
                content: '<';
                font-size: 1.4rem;
                color:$primary-color;
                margin-right: 0.5rem;
                font-weight: bold;
            }
        }
    }
}