@import '../../../styles/variable.scss';

main.page {
    .about-us-page {
        aside {
            margin-top: 3rem;
            ;
            border: solid 1px $secondry-color;

            a {
                display: block;
                color: $secondry-color;
                text-decoration: none;
                font-size: 1rem;
                padding: 1rem;
                border-top: solid 1px $secondry-color;

                &:hover {
                    color: $success-color;
                }
            }
        }
    }
}