@import './../../../styles/variable.scss';

.post-component {
    border: solid 1px $background-color;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem;
    text-decoration: none;

    .remove-btn {
        background-color: $primary-color;
        border-radius: 100%;
        border-color: transparent;
        color: white;
        padding: 1rem 0.5rem;
    }

    @include breakpoint-small {
        width: calc(50% - 3rem);
        margin-right: 2rem;
    }

    @include breakpoint-large {
        width: calc(33.33% - 3rem);
    }

    h3 {
        margin: 0 0 1rem 0;
        font-family: $title-font;
        font-size: 28px;
        color: $primary-color;
        font-weight: normal;

    }

    .description {
        display: flex;
        align-items: start;

        img {
            width: 120px;
            margin-right: 15px;

        }

        span {
            color: $secondry-color;
            line-height: 1.4rem;
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;

        div {
            color: $gray-color;
            font-size: 0.8rem;
            margin: 1.5rem 1.5rem 0 0;

            strong {
                display: block;
                ;
                color: $secondry-color;
                font-size: 1rem;
            }

            &.promote-yes strong {
                color: $success-color;
            }

            &.promote-no strong {
                color: $danger-color
            }
        }

    }

    .rate {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        button {
            border: none;
            font-size: 1rem;
            ;
            color: $secondry-color;
            display: flex;
            align-items: center;
            padding: 7px 15px;
            cursor: pointer;

            svg {
                margin-right: 0.5rem;
                font-size: 1.5rem;
            }

            &.like {
                border-radius: 20px 0 0 20px;
                border-right: solid 1px $border-color;

                svg {
                    color: $success-color
                }
            }

            &.dislike {

                border-radius: 0 20px 20px 0;

                svg {
                    color: $danger-color
                }
            }
        }
    }

    .rate-single-button {
        button {
            &.dislike {
                border-radius: 20px;
            }

            &.like {
                border-right: none;
                border-radius: 20px;
            }
        }
    }
}