@import './../../../styles/variable.scss';

.post-component {
    border: solid 1px $background-color;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem;

    @include breakpoint-small {
        width: calc(50% - 3rem);
        margin-right: 2rem;
    }

    @include breakpoint-large{
        width: calc(33.33% - 3rem);
    }
}