@import './../../../styles/variable.scss';

.post-component {
    h3 {
        color: yellow;
        margin: 10px;
        background-color: lime;
    }

    .post-text {
        color: blue;
        font-size: 25px;
        text-decoration: underline;
    }

    .promote {
        background-color: green;
        color: white;
        padding: 10px 20px 30px;
        display: inline-block;
    }

    .promote-yes,
    .promote-no {
        color: white;
        padding: 10px;
        display: inline-block;

        strong {
            color: yellow;
        }
    }

    .promote-yes {
        background-color: green;
    }

    .promote-no {
        background-color: darkred;
    }

    .too-many-dislike {
        color: fuchsia;
        font-size: 10;
    }

    button {
        @include button-style (lightgreen);
        color: antiquewhite;
    }

    @include p-style(yellow, 'p');
    @include p-style(red, 'a');
}