@import './../../styles//variable.scss';

header.main {

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 5px $primary-color;
    padding: 5px;

    svg {

        font-size: 50px;
        margin-right: 10px;
        color: $primary-color;
        @include breakpoint-small {
            font-size: 50px;
        }

        @include breakpoint-large {
            font-size: 60px;
        }
    }

    div {
        color: $secondry-color;
        font-family: $title-font;
        font-size: 20px;

        
        @include breakpoint-small {
            font-size: 40px;
        }

        @include breakpoint-large {
            font-size: 50px;
        }
    }

    // @include btn-style
}