@import './../../styles/variable.scss';

.form-component {
    padding: 2rem;
    color: $secondry-color;

    @include breakpoint-small {
        width: 500px;
        margin: 0 auto 0 auto;
    }

    &>div {
        margin-bottom: 1rem;

    }

    .promote-field,
    .status-field {
        display: flex;
        align-items: center;
        color: $text-color;
        line-height: 1.2rem;

        input {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 0.5rem;
        }
    }

    .status-field label{
        margin-left: 1rem;
        display: flex;
    }

    fieldset{
        border: solid 1px $border-color;
        margin-bottom: 2rem;
        display: flex;

        input{
            width: 100%;
        }
    }
 
    input[type="text"],
    textarea,
    select {
        box-sizing: border-box;
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        color: $secondry-color;
        border: solid 1px $border-color;
    }
}